
# Created by https://www.gitignore.io/api/java,maven

### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay*

### Maven ###
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties


#Node

**/node
**/bower_components
**/node_modules
**/package-lock.json
kamra-js-deps/package-lock.json
#
IDE
.idea
*.iml
/sites/kamra-webshop-standalone/local-run/kamra.db.mv.db
/sites/kamra-webshop-standalone/local-run/kamra.db.trace.db
/sites/kamra-webshop-standalone/local-run/files/
/sites/kamra-standalone/local-run/files/
/sites/kamra-standalone/local-run/kamra.db.mv.db
/sites/kamra-standalone/local-run/kamra.db.trace.db
/kamra-s3storage/nbproject/
/sites/kamra-standalone/files/
/sites/kamra-standalone/local-postgres-run/files/
